@model IEnumerable<WishList>
<div class="row"></div>
<div class="row mt-5" style="padding-left: 20px; padding-right: 20px;">
	<div class="main-content-grid ">
		<div class="ty-mainbox-container">
			<h1 class="ty-mainbox-title fw-bold" style="font-size: 28px">
				Compare

			</h1>

			<div class="ty-mainbox-body">

				<div class="ty-compare">
					<div class="ty-compare_wrapper">

						<table class="ty-compare-products">
							<tbody>
								<tr>
									<td class="ty-compare-products_menu">
										<ul class="ty-compare-menu">
											<li class="ty-compare-menu__item"><span class="ty-compare-menu__elem">Все характеристики</span></li>
											<li class="ty-compare-menu__item"><a class="ty-compare-menu__a" href="https://vapejoy.com.ua/index.php?dispatch=product_features.compare.similar_only">Только похожие</a></li>
											<li class="ty-compare-menu__item"><a class="ty-compare-menu__a" href="https://vapejoy.com.ua/index.php?dispatch=product_features.compare.different_only">Только различные</a></li>
										</ul>
									</td>
									<td class="ty-compare-products__product">
										<div class="ty-compare-products__image">
											<div class="ty-compare-products__delete">
												<a href="https://vapejoy.com.ua/index.php?dispatch=product_features.delete_product&amp;product_id=1439&amp;redirect_url=index.php%3Fsl%3Dru%26dispatch%3Dproduct_features.compare" class="ty-remove" title="Удалить">
													<span class="ty-icon ty-icon-cancel-circle ty-remove__icon"></span>
													<span class="ty-remove__txt">Удалить</span>
												</a>
											</div>
											<div class="ty-compare-products__img">
												<a href="https://vapejoy.com.ua/ru/zhidkosti-vapejoy/tabachnye-zhidkosti/deadly-karamelnyy-tabak-s-iriskoy.-nabor-60ml.html">
													<img class="ty-pict     cm-image ls-is-cached lazyloaded" alt="DEADLY - карамельный табак с ирисом 60мл" title="DEADLY - карамельный табак с ирисом 60мл" srcset="https://vapejoy.com.ua/images/thumbnails/540/540/detailed/9/deadly.png 2x" src="https://vapejoy.com.ua/images/thumbnails/270/270/detailed/9/deadly.png" data-srcset="https://vapejoy.com.ua/images/thumbnails/540/540/detailed/9/deadly.png 2x" width="270" height="270" data-src="https://vapejoy.com.ua/images/thumbnails/270/270/detailed/9/deadly.png">

												</a>
											</div>
										</div>

										<div class="ty-compare-products__name">
											<bdi><a href="https://vapejoy.com.ua/ru/zhidkosti-vapejoy/tabachnye-zhidkosti/deadly-karamelnyy-tabak-s-iriskoy.-nabor-60ml.html">DEADLY - карамельный табак с ирисом 60мл</a></bdi>
										</div>
										<div class="ty-compare-products__price pr-col">
											<div>
												<span class="cm-reload-1439" id="old_price_update_1439">
													<input type="hidden" name="appearance[show_old_price]" value="1">

													<!--old_price_update_1439-->
												</span>
											</div>
										</div>

										<div class="ty-compare-products__buttons">
											<div class="ty-simple-list clearfix">
												<div class="ty-simple-list__buttons">
													<div class="cm-reload-1439 " id="add_to_cart_update_1439">
														<a id="opener_ut2_select_options_1439" class="cm-dialog-opener cm-dialog-auto-size ty-btn ut2-btn__options ty-btn__primary ty-btn__add-to-cart cm-dialog-destroy-on-close" href="https://vapejoy.com.ua/index.php?dispatch=products.ut2_select_variation&amp;product_id=1439&amp;prev_url=index.php%3Fsl%3Dru%26dispatch%3Dproduct_features.compare" data-ca-target-id="content_ut2_select_options_1439" data-ca-dialog-title="В корзину" data-ca-product-id="1439" data-ca-dialog-purpose="ut2_select_options" rel="nofollow">
															<span class="ty-icon ut2-icon-use_icon_cart"></span>
															<bdi>В корзину</bdi>
														</a>
													</div>

												</div>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>

						<div class="ty-compare-future">
							<table class="ty-compare-feature__table">
								<tbody>

									<tr class="ty-compare-feature__row">
										<td class="ty-compare-feature__item ty-compare-sort">
											<strong class="ty-compare-sort__title">Бренд:</strong>
											<a href="https://vapejoy.com.ua/index.php?dispatch=product_features.delete_feature&amp;feature_id=18&amp;redirect_url=index.php%3Fsl%3Dru%26dispatch%3Dproduct_features.compare" class="ty-compare-sort__a ty-icon-cancel-circle" title="Удалить"></a>
										</td>
										<td class="ty-compare-feature__item ty-compare-feature_item_size">
											VapeJoy
										</td>
									</tr>
									<tr class="ty-compare-feature__row">
										<td class="ty-compare-feature__item ty-compare-sort">
											<strong class="ty-compare-sort__title">Вкусы по видам:</strong>
											<a href="https://vapejoy.com.ua/index.php?dispatch=product_features.delete_feature&amp;feature_id=550&amp;redirect_url=index.php%3Fsl%3Dru%26dispatch%3Dproduct_features.compare" class="ty-compare-sort__a ty-icon-cancel-circle" title="Удалить"></a>
										</td>
										<td class="ty-compare-feature__item ty-compare-feature_item_size">


											Табачные
										</td>
									</tr>
									<tr class="ty-compare-feature__row">
										<td class="ty-compare-feature__item ty-compare-sort">
											<strong class="ty-compare-sort__title">Объем флакона:</strong>
											<a href="https://vapejoy.com.ua/index.php?dispatch=product_features.delete_feature&amp;feature_id=551&amp;redirect_url=index.php%3Fsl%3Dru%26dispatch%3Dproduct_features.compare" class="ty-compare-sort__a ty-icon-cancel-circle" title="Удалить"></a>
										</td>
										<td class="ty-compare-feature__item ty-compare-feature_item_size">


											60мл
										</td>
									</tr>
									<tr class="ty-compare-feature__row">
										<td class="ty-compare-feature__item ty-compare-sort">
											<strong class="ty-compare-sort__title">Назначение :</strong>
											<a href="https://vapejoy.com.ua/index.php?dispatch=product_features.delete_feature&amp;feature_id=569&amp;redirect_url=index.php%3Fsl%3Dru%26dispatch%3Dproduct_features.compare" class="ty-compare-sort__a ty-icon-cancel-circle" title="Удалить"></a>
										</td>
										<td class="ty-compare-feature__item ty-compare-feature_item_size">


											для вейпов
										</td>
									</tr>
									<tr class="ty-compare-feature__row">
										<td class="ty-compare-feature__item ty-compare-sort">
											<strong class="ty-compare-sort__title">Уровень вкуса:</strong>
											<a href="https://vapejoy.com.ua/index.php?dispatch=product_features.delete_feature&amp;feature_id=568&amp;redirect_url=index.php%3Fsl%3Dru%26dispatch%3Dproduct_features.compare" class="ty-compare-sort__a ty-icon-cancel-circle" title="Удалить"></a>
										</td>
										<td class="ty-compare-feature__item ty-compare-feature_item_size">


											Насышенный
										</td>
									</tr>
									<tr class="ty-compare-feature__row">
										<td class="ty-compare-feature__item ty-compare-sort">
											<strong class="ty-compare-sort__title">Тип никотина:</strong>
											<a href="https://vapejoy.com.ua/index.php?dispatch=product_features.delete_feature&amp;feature_id=571&amp;redirect_url=index.php%3Fsl%3Dru%26dispatch%3Dproduct_features.compare" class="ty-compare-sort__a ty-icon-cancel-circle" title="Удалить"></a>
										</td>
										<td class="ty-compare-feature__item ty-compare-feature_item_size">


											Органический
										</td>
									</tr>

								</tbody>
							</table>
						</div>

					</div>
				</div>

				<div class="buttons-container ut2-compare__buttons"></div>

			</div>
		</div>
	</div>
</div>

<style>
	.ty-compare{
		position: relative;
	}

	.ty-compare_wrapper{
		overflow-x: auto;
		overflow-y: hidden;
	}

	.ty-compare-products{
		width: 100%;
		table-layout: fixed;
		border-collapse: collapse;
		border-spacing: 0;
		display: table;
		text-indent: initial;
		border-color: gray;
	}

	.ty-compare-products__menu{
		position: sticky;
		left: 0;
		right: auto;
		border-left: 0;
		z-index: 4;
		background: #fff;
		padding-right: 5px;
		vertical-align: top;
		width: 150px;
	}

	.ty-compare-menu{
		max-width: 150px;
		width: auto;
	}

	.ty-compare-menu__item{
		padding: 0;
	}

	.ty-compare-menu__elem{
		padding: 10px;
		background: #08a6a8;
		color: #fff;
		display: block;
	}

	.ty-compare-products__product{
		position: relative;
		padding-bottom: 15px;
		padding: 0 10px;
		width: 215px;
		vertical-align: top;
		text-align: center;
	}

	.ty-compare-products__image{
		margin-bottom: 10px;
	}

	.ty-compare-products__delete{
		height: auto;
		position: absolute;
		z-index: 3;
		top: -5px;
		right: auto;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%,0%);
		background: #fff;
		border: 1px solid #08a6a8;
		padding: 3px 7px 3px 5px;
		border-radius: 6px;
		display: none;
	}

	.ty-compare-products__img{

	}

	.ty-compare-products__name{
		margin-bottom: 10px;
	}

		.ty-compare-products__name a {
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			display: flex;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 230px;
			min-height: 32px;
			max-height: 32px;
			margin: 0 auto;
			word-wrap: break-word;
			font-size: 14px;
			color: #363636;
			hyphens: auto;
		}

	.ty-compare-products__price{
		display: flex;
		justify-content: center;
		padding-bottom: 5px;
	}

	.ty-compare-products__buttons{
		margin-bottom: 10px;
	}

	.ty-simple-list{

	}

	.ty-simple-list__buttons{
		padding: 0;
		margin-top: 10px;
		height: 36px;
		width: 100%;
		display: flex;
		overflow: hidden;
		flex-wrap: nowrap;
		align-items: flex-start;
		justify-content: center;
	}


	.ty-compare-feature{
		position: relative;
		z-index: 20;
		margin-bottom: 10px;
	}

	.ty-compare-feature__table{
		width: 100%;
		table-layout: fixed;
		border-collapse: collapse;
		border-spacing: 0;
	}

	.ty-compare-feature__row{
		background-color: #fff;
	}

	.ty-compare-feature__item{
		padding: 10px;
		border: 1px solid #ebebeb;
		vertical-align: middle;
	}

		.ty-compare-sort{
		position: sticky;
		left: 0;
		right: auto;
		border-left: 0;
		background: #f7f7f7;
		z-index: 4;
		width: 150px;
		text-align: left;
		}

	.ty-compare-sort__title{

	}

	.ty-compare-feature__item{
		padding: 10px;
		border: 1px solid #ebebeb;
		vertical-align: middle;
		text-align: left;
	}

	.ty-compare-feature_item_size{
		padding: 0 10px;
		width: 215px;
	}

	.buttons-container{
		margin: 20px 0;
		background: #f7f7f7;
		padding: 15px;
		border-radius: 0;
	}

	.ut2-compare__buttons{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
</style>