

<div class="cm-cart-content cm-cart-content-thumb cm-cart-content-delete" id="cart_content_1560">
    <div class="ty-cart-items">
        <ul class="ty-cart-items__list">
            <li class="ty-cart-items__list-item">
                <div class="ty-cart-items__list-item-image">
                    <a href="https://vapejoy.com.ua/ridina-dlya-veypu/vipichka-deserti/banana-choco-yogurt-bananovyy-yogurt-s-shokoladnym-toppingom-60ml.html">

                        <img class="ty-pict     cm-image ls-is-cached lazyloaded" alt="BANANA CHOCO YOGURT - банановий йогурт з шоколадним топінгом 60мл" title="BANANA CHOCO YOGURT - банановий йогурт з шоколадним топінгом 60мл" srcset="https://vapejoy.com.ua/images/thumbnails/80/80/detailed/9/banana_choko_yogurt.png 2x" src="https://vapejoy.com.ua/images/thumbnails/40/40/detailed/9/banana_choko_yogurt.png" data-srcset="https://vapejoy.com.ua/images/thumbnails/80/80/detailed/9/banana_choko_yogurt.png 2x" width="40" height="40" data-src="https://vapejoy.com.ua/images/thumbnails/40/40/detailed/9/banana_choko_yogurt.png">

                    </a>
                </div>
                <div class="ty-cart-items__list-item-desc">
                    <a style="line-height: 1.1" href="https://vapejoy.com.ua/ridina-dlya-veypu/vipichka-deserti/banana-choco-yogurt-bananovyy-yogurt-s-shokoladnym-toppingom-60ml.html">BANANA CHOCO YOGURT - банановий йогурт з шоколадним топінгом 60мл</a>
                    <p style=" margin: 0; padding: 6px 0;">
                        <span>1</span><span>&nbsp;x&nbsp;</span><bdi><span id="sec_price_476281434_1560" class="none">193</span>&nbsp;<span class="none">грн</span></bdi>
                    </p>
                </div>
                <div class="ty-cart-items__list-item-tools">

                    <a data-ca-dispatch="delete_cart_item" href="https://vapejoy.com.ua/index.php?dispatch=checkout.delete.from_status&amp;cart_id=476281434&amp;redirect_url=index.php" class="cm-ajax cm-ajax-full-render" data-ca-target-id="cart_content*,cart_icon*">
                        <span class="ty-icon ty-icon-cancel-circle" title="Видалити"></span>
                    </a>

                </div>

            </li>
            <li class="ty-cart-items__list-item">
                <div class="ty-cart-items__list-item-image">
                    <a href="https://vapejoy.com.ua/ridina-dlya-veypu/vipichka-deserti/banana-choco-yogurt-bananovyy-yogurt-s-shokoladnym-toppingom-60ml.html">

                        <img class="ty-pict     cm-image ls-is-cached lazyloaded" alt="BANANA CHOCO YOGURT - банановий йогурт з шоколадним топінгом 60мл" title="BANANA CHOCO YOGURT - банановий йогурт з шоколадним топінгом 60мл" srcset="https://vapejoy.com.ua/images/thumbnails/80/80/detailed/9/banana_choko_yogurt.png 2x" src="https://vapejoy.com.ua/images/thumbnails/40/40/detailed/9/banana_choko_yogurt.png" data-srcset="https://vapejoy.com.ua/images/thumbnails/80/80/detailed/9/banana_choko_yogurt.png 2x" width="40" height="40" data-src="https://vapejoy.com.ua/images/thumbnails/40/40/detailed/9/banana_choko_yogurt.png">

                    </a>
                </div>
                <div class="ty-cart-items__list-item-desc">
                    <a style="line-height: 1.1" href="https://vapejoy.com.ua/ridina-dlya-veypu/vipichka-deserti/banana-choco-yogurt-bananovyy-yogurt-s-shokoladnym-toppingom-60ml.html">BANANA CHOCO YOGURT - банановий йогурт з шоколадним топінгом 60мл</a>
                    <p style=" margin: 0; padding: 6px 0;">
                        <span>1</span><span>&nbsp;x&nbsp;</span><bdi><span id="sec_price_476281434_1560" class="none">193</span>&nbsp;<span class="none">грн</span></bdi>
                    </p>
                </div>
                <div class="ty-cart-items__list-item-tools">

                    <a data-ca-dispatch="delete_cart_item" href="https://vapejoy.com.ua/index.php?dispatch=checkout.delete.from_status&amp;cart_id=476281434&amp;redirect_url=index.php" class="cm-ajax cm-ajax-full-render" data-ca-target-id="cart_content*,cart_icon*">
                        <span class="ty-icon ty-icon-cancel-circle" title="Видалити"></span>
                    </a>

                </div>

            </li>
            <li class="ty-cart-items__list-item">
                <div class="ty-cart-items__list-item-image">
                    <a href="https://vapejoy.com.ua/ridina-dlya-veypu/vipichka-deserti/banana-choco-yogurt-bananovyy-yogurt-s-shokoladnym-toppingom-60ml.html">

                        <img class="ty-pict     cm-image ls-is-cached lazyloaded" alt="BANANA CHOCO YOGURT - банановий йогурт з шоколадним топінгом 60мл" title="BANANA CHOCO YOGURT - банановий йогурт з шоколадним топінгом 60мл" srcset="https://vapejoy.com.ua/images/thumbnails/80/80/detailed/9/banana_choko_yogurt.png 2x" src="https://vapejoy.com.ua/images/thumbnails/40/40/detailed/9/banana_choko_yogurt.png" data-srcset="https://vapejoy.com.ua/images/thumbnails/80/80/detailed/9/banana_choko_yogurt.png 2x" width="40" height="40" data-src="https://vapejoy.com.ua/images/thumbnails/40/40/detailed/9/banana_choko_yogurt.png">

                    </a>
                </div>
                <div class="ty-cart-items__list-item-desc">
                    <a style="line-height: 1.1" href="https://vapejoy.com.ua/ridina-dlya-veypu/vipichka-deserti/banana-choco-yogurt-bananovyy-yogurt-s-shokoladnym-toppingom-60ml.html">BANANA CHOCO YOGURT - банановий йогурт з шоколадним топінгом 60мл</a>
                    <p style=" margin: 0; padding: 6px 0;">
                        <span>1</span><span>&nbsp;x&nbsp;</span><bdi><span id="sec_price_476281434_1560" class="none">193</span>&nbsp;<span class="none">грн</span></bdi>
                    </p>
                </div>
                <div class="ty-cart-items__list-item-tools">

                    <a data-ca-dispatch="delete_cart_item" href="https://vapejoy.com.ua/index.php?dispatch=checkout.delete.from_status&amp;cart_id=476281434&amp;redirect_url=index.php" class="cm-ajax cm-ajax-full-render" data-ca-target-id="cart_content*,cart_icon*">
                        <span class="ty-icon ty-icon-cancel-circle" title="Видалити"></span>
                    </a>

                </div>

            </li>
        </ul>
    </div>

    <div class="cm-cart-buttons ty-cart-content__buttons buttons-container full-cart">

        <a class="btn_main btn_main_d" style="width: 90%" asp-action="CartIndex" asp-controller="Order">Кошик</a>
        <a class="btn_main btn_main_l" style="width: 90%">Оформлення замовлення</a>

    </div>
</div>

<style>
    .ty-cart-items{
        padding: 10px 20px;
        max-width: 100%;
        min-height: 100px;
        overflow: auto;
        max-height: 400px;
    }

    .ty-cart-items__list{
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .ty-cart-items{

    }

    .ty-cart-items__list-item{
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0px;
        position: relative;
        border-bottom: 1px solid #ecf0f1;
    }

        .ty-cart-items__list-item:last-child {
            border-bottom: 0px;
        }

    .ty-cart-items__list-item-image{
        min-width: 40px;
        min-height: 40px;
        margin-right: 15px;
        float: left;
    }

    .ty-cart-items__list-item-desc{
        flex: 1;
        width: 250px;
        overflow: hidden;
    }

        .ty-cart-items__list-item-desc a {
            display: inline-block;
            padding-right: 20px;
            padding-bottom: 20px;
        }

        .ty-cart-items__list-item-desc  p {
            position: absolute;
            bottom: 5px;
        }



    .ty-cart-items__list-item-tools{
        position: absolute;
        top: 10px;
        right: 0px;
        display: none;
    }

    .ty-cart-items__list-item:hover .ty-cart-items__list-item-tools {
        display: block;
    }

    .ty-icon-cancel-circle:before {
        content: "\f057";
        font-family: FontAwesome;
        font-size: 13px;
        font-weight: normal;
    }

    .ty-cart-content__buttons {
        padding: 20px;
        padding: 18px 22px;
        background: #f7f7f7;
    }

    .buttons-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 15px;
    }

    .buttons-container .btn_main {
        flex: 1 0 auto;
        margin: 5px;
    }

    .ty-dropdown-box__content .buttons-container {
        
    }

    .ty-dropdown-box__content .buttons-container {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
</style>