
@if(User.Identity.IsAuthenticated)
{
	<p>
		@User.Identity.Name
	</p>
	<p>Profile</p>
	<p>Order</p>
	<p>Wish</p>
	<p>Comparison</p>

	<a class="col-10" asp-action="Logout" asp-controller="Account">LogOut</a>
}
else
{
	<p>Order</p>
	<p>Wish</p>
	<p>Comparison</p>
	<p>test</p>
	<a class="col-4" asp-action="Login" asp-controller="Account">LogIn</a>
	<a class="col-8" asp-action="Register" asp-controller="Account">Register</a>
	
}