@using VapeShop.Domain.Entity.Client;
@model User


<div class="container">

	<div class="row"></div>

	<div class="row mt-4">
		<h3 class="fw-bold">Profile</h3>
	</div>


	<div class="row mt-3" style="padding: 10px">


		<div class="col-6 mt-4" style="border-width: 0 1px 1px 1px; border-color: lightgray; border-style: solid; padding: 20px">
			<form asp-action="Profile">
				<input asp-for="UserID" type="hidden" />
				<div class="row">
					<h4 class="fw-bold">User account information</h4>
					<div class="form-group mb-3">
						<label class="fw-bold" asp-for="Email"></label>
						<input asp-for="Email" class="form-control"/>
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="form-group mb-3">
						<label asp-for="Password"></label>
						<input asp-for="Password" type="password" value="@Model.Password" class="form-control" />
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>
					<div class="form-group mb-3">
						<label asp-for="PasswordConfirme">Password confirmation</label>
						<input asp-for="PasswordConfirme" value="@Model.PasswordConfirme"  type="password" class="form-control" />
						<span asp-validation-for="PasswordConfirme" class="text-danger"></span>
					</div>
				</div>

				<div class="row mt-3">
					<h4 class="fw-bold">Contact information</h4>
					<div class="form-group col-6 mb-3">
						<label asp-for="Name"></label>
						<input asp-for="Name" class="form-control" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>

					<div class="form-group col-6 mb-3">
						<label asp-for="Surname"></label>
						<input asp-for="Surname" class="form-control" />
						<span asp-validation-for="Surname" class="text-danger"></span>
					</div>

					<div class="form-group mb-3">
						<label asp-for="Phone"></label>
						<input asp-for="Phone" class="form-control" />
						<span asp-validation-for="Phone" class="text-danger"></span>
					</div>
					<div class="form-group mb-3">
						<label asp-for="CommunicationMethod">Communication method</label><br />
						@foreach (CommunicationMethod commMethod in ViewBag.CommMethod)
						{
							<label class="m-2" style="font-weight: 500">
								<input type="radio" asp-for="CommunicationMethodID" value="@commMethod.CommunicationMethodID" />
								@commMethod.CommunicationMethodName
							</label>
						}
						<span asp-validation-for="CommunicationMethodID" class="text-danger"></span>
						
					</div>
				</div>
				<div class="row mt-3">
					<h4 class="fw-bold">Delivery address</h4>
					<input asp-for="DeliveryAddress.User" type="hidden" />
					<input asp-for="DeliveryAddress.UserID" type="hidden" />
					<input asp-for="DeliveryAddress.DeliveryAddressID" type="hidden" />
					<div class="form-group col-6 mb-3">
						<label asp-for="DeliveryAddress.Name"></label>
						<input asp-for="DeliveryAddress.Name" class="form-control" />
						<span asp-validation-for="DeliveryAddress.Name" class="text-danger"></span>
					</div>

					<div class="form-group col-6 mb-3">
						<label asp-for="DeliveryAddress.Surname"></label>
						<input asp-for="DeliveryAddress.Surname" class="form-control" />
						<span asp-validation-for="DeliveryAddress.Surname" class="text-danger"></span>
					</div>

					<div class="form-group mb-3">
						<label asp-for="DeliveryAddress.Patronomyc"></label>
						<input asp-for="DeliveryAddress.Patronomyc" class="form-control" />
						<span asp-validation-for="DeliveryAddress.Patronomyc" class="text-danger"></span>
					</div>
					<div class="form-group mb-3">
						<label asp-for="DeliveryAddress.City"></label>
						<select asp-for="DeliveryAddress.CityID" asp-items="ViewBag.Cities" class="form-control"></select>
						<span asp-validation-for="DeliveryAddress.City" class="text-danger"></span>
					</div>
					<div class="form-group col-6  mb-3">
						<label asp-for="DeliveryAddress.Country"></label>
						<input asp-for="DeliveryAddress.Country"  class="form-control" readonly />
						<span asp-validation-for="DeliveryAddress.Country" class="text-danger"></span>
					</div>

					<div class="form-group col-6  mb-3">
						<label asp-for="DeliveryAddress.Region"></label>
						<select asp-for="DeliveryAddress.Region" class="form-control"></select>
						<span asp-validation-for="DeliveryAddress.Region" class="text-danger"></span>
					</div>
				</div>

				<button class="form-control btn_main btn_main_l" type="submit">Save</button>
			</form>
		</div>

		<div class="col-6" style="padding: 50px">
			<div>
				<h4 class="fw-bold">Account details</h4>
				<br />
				<p>On this page you can change your login details and personal information for use when placing orders.</p>
				<p>To increase the security of your account, we recommend avoiding passwords that use:</p>
				<ul>
					<li>Words from dictionaries in any language.</li>
					<li>Backward words and abbreviations.</li>
					<li>Sequences of characters or repeated characters. For example: 12345678, 222222, abcdefg or adjacent letters on your keyboard (qwerty).</li>
					<li>Personal information. your name, date of birth, driver's license number, passport number or similar information.</li>
				</ul>
			</div>
		</div>




	</div>

</div>
<style>
	label {
		font-weight: bold;
		font-size: 16px;
		font-family: Arial, Helvetica, sans-serif;
	}

</style>

