@using VapeShop.Domain.Entity.Client;
@model RegisterVM


@{
	ViewData["Title"] = "Register";
}


<div class="container">

	<div class="row"></div>

	<div class="row mt-4">
		<h3 class="fw-bold">Создать учетную запись</h3>
	</div>


	<div class="row mt-3" style="padding: 10px">


		<div class="col-6 mt-4" >
			<form asp-action="Register">
				<div class="row">

					<div class="form-group col-6 mb-3">
						<label asp-for="Name"></label>
						<input asp-for="Name" class="form-control" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>

					<div class="form-group col-6 mb-3">
						<label asp-for="Surname"></label>
						<input asp-for="Surname" class="form-control" />
						<span asp-validation-for="Surname" class="text-danger"></span>
					</div>

					<div class="form-group mb-3">
						<label asp-for="Phone"></label>
						<input asp-for="Phone" class="form-control" />
						<span asp-validation-for="Phone" class="text-danger"></span>
					</div>
					<div class="form-group mb-3">
						<label asp-for="CommunicationMethodID"></label><br />
						@foreach (CommunicationMethod commMethod in ViewBag.CommMethod)
						{
							<label class="m-2" style="font-weight: 500">
								<input type="radio" asp-for="CommunicationMethodID" value="@commMethod.CommunicationMethodID" />
								@commMethod.CommunicationMethodName
							</label>
						}
						<span asp-validation-for="CommunicationMethodID" class="text-danger"></span>

					</div>
					<div class="form-group mb-3">
						<label class="fw-bold" asp-for="Email"></label>
						<input asp-for="Email" class="form-control" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="form-group mb-3">
						<label asp-for="Password"></label>
						<input asp-for="Password" type="password" class="form-control" />
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>
					<div class="form-group mb-3">
						<label asp-for="PasswordConfirme"></label>
						<input asp-for="PasswordConfirme" type="password" class="form-control" />
						<span asp-validation-for="PasswordConfirme" class="text-danger"></span>
					</div>
				</div>

				<button class="form-control btn btn-primary" type="submit">Register</button>
			</form>
		</div>

		<div class="col-6" style="padding-left: 40px">
			<div>
				<h4 class="fw-bold" style="font-size: 19px">Преимущества зарегистрированного пользователя:</h4>
				<br />
				<ul>
					<li>Отслеживание заказов на персональной странице</li>
					<li>Возможность настроить магазин под себя для более удобных покупок</li>
					<li>Ускоренное оформление последующих заказов</li>
				</ul>
			</div>
		</div>




	</div>

</div>

<style>
	label {
		font-weight: bold;
		font-size: 16px;
		font-family: Arial, Helvetica, sans-serif;
	}

</style>