<div class="row"></div>
<div class="ty-mainbox-body" style="    padding-left: 20px;
    padding-right: 20px;">

	<div id="cart_main">

		<div id="checkout_form_wrapper">


			<h1 class="ty-mainbox-title">Cart contents</h1>

			<div>
				<div class="ty-mainbox-cart__body">
					<div id="cart_items">
						<table class="ty-cart-content ty-table">
							<thead>
								<tr>
									<th class="ty-cart-content__title ty-left">Product</th>
									<th class="ty-cart-content__title ty-left">&nbsp;</th>
									<th class="ty-cart-content__title ty-right">Unit price</th>
									<th class="ty-cart-content__title quantity-cell">Amount</th>
									<th class="ty-cart-content__title ty-right">Total price</th>
								</tr>
							</thead>

							<tbody>

								<tr>
									<td class="ty-cart-content__product-elem ty-cart-content__image-block">
										<div class="ty-cart-content__image cm-reload-2223504989" id="product_image_update_2223504989">
											<a href="https://vapejoy.com.ua/ridina-dlya-veypu/frukti/andromeda-granat-s-chernikoy-nabor-60ml-uk.html">

												<img class="ty-pict     cm-image" alt="ANDROMEDA - pomegranate with blueberries 60ml" title="ANDROMEDA - гранат с черникой 60мл" srcset="https://vapejoy.com.ua/images/ab__webp/thumbnails/300/300/detailed/9/andromeda_yzw7-1q_png.webp 2x" id="det_img_2223504989" width="150" height="150" src="https://vapejoy.com.ua/images/ab__webp/thumbnails/150/150/detailed/9/andromeda_yzw7-1q_png.webp">

											</a>
										</div>
									</td>

									<td class="ty-cart-content__product-elem ty-cart-content__description" style="width: 50%;">
										<a href="https://vapejoy.com.ua/ridina-dlya-veypu/frukti/andromeda-granat-s-chernikoy-nabor-60ml-uk.html" class="ty-cart-content__product-title">ANDROMEDA - pomegranate with blueberries 60ml</a><a class=" ty-cart-content__product-delete ty-delete-big" href="https://vapejoy.com.ua/index.php?dispatch=checkout.delete&amp;cart_id=2223504989&amp;redirect_mode=cart" data-ca-target-id="cart_items,checkout_totals,cart_status*,checkout_steps,checkout_cart" title="Видалити">
											&nbsp;<span class="ty-icon ty-icon-cancel-circle ty-delete-big__icon"></span>
										</a>                                                            <div class="ty-cart-content__sku ty-sku cm-hidden-wrapper hidden" id="sku_2223504989">
											CODE: <span class="cm-reload-2223504989" id="product_code_update_2223504989"><!--product_code_update_2223504989--></span>
										</div>
										<div class="cm-reload-2223504989 ty-cart-content__options" id="options_update_2223504989">
											<input type="hidden" name="no_cache" value="no_cache">

											<div id="option_2223504989_AOC">
												<div class="cm-picker-product-options ty-product-options" id="opt_2223504989">


													<div class="ty-control-group ty-product-options__item product-list-field clearfix" id="opt_2223504989_387">
														<label id="option_description_2223504989_387" for="option_2223504989_387" class="ty-control-group__label ty-product-options__item-label cm-required ">
															Ratio PG/VG
															:
														</label>
														<input type="hidden" name="cart_products[2223504989][product_options][387]" value="366" id="option_2223504989_387">
														<ul id="option_2223504989_387_group" class="ty-product-options__elem">
															<li>
																<label id="option_description_2223504989_387_366" class="ty-product-options__box option-items">
																	<input type="radio" class="radio" name="cart_products[2223504989][product_options][387]" value="366" checked="checked" onclick="fn_change_options('2223504989', '2223504989', '387');">
																	30/70 - for Vapes&nbsp;
																</label>
															</li>
															<li>
																<label id="option_description_2223504989_387_367" class="ty-product-options__box option-items">
																	<input type="radio" class="radio" name="cart_products[2223504989][product_options][387]" value="367" onclick="fn_change_options('2223504989', '2223504989', '387');">
																	50/50 - for POD systems and cigarette tanks&nbsp;
																</label>
															</li>
														</ul>



													</div>


													<div class="ty-control-group ty-product-options__item product-list-field clearfix" id="opt_2223504989_376">
														<label id="option_description_2223504989_376" for="option_2223504989_376" class="ty-control-group__label ty-product-options__item-label  ">
															Nicotine
															:
														</label>
														<select name="cart_products[2223504989][product_options][376]" id="option_2223504989_376" onchange="fn_change_options('2223504989', '2223504989', '376');">
														</select>


													</div>


												</div>
											</div>


										</div>

									</td>

									<td class="ty-cart-content__product-elem ty-cart-content__price cm-reload-2223504989" id="price_display_update_2223504989">
										<bdi><span id="sec_product_price_2223504989" class="ty-sub-price">185</span>&nbsp;<span class="ty-sub-price">grn</span></bdi>                        <!--price_display_update_2223504989-->
									</td>

									<td class="ty-cart-content__product-elem ty-cart-content__qty ">

										<div class="quantity cm-reload-2223504989 changer" id="quantity_update_2223504989">
											<div class="ty-center ty-value-changer cm-value-changer">
												<a class="cm-increase ty-value-changer__increase">+</a>
												<input type="text" size="3" id="amount_2223504989" name="cart_products[2223504989][amount]" value="1" class="ty-value-changer__input cm-amount cm-value-decimal" data-ca-min-qty="1">
												<a class="cm-decrease ty-value-changer__decrease">−</a>
											</div>
											<!--quantity_update_2223504989-->
										</div>
									</td>

									<td class="ty-cart-content__product-elem ty-cart-content__price cm-reload-2223504989" id="price_subtotal_update_2223504989">
										<bdi><span id="sec_product_subtotal_2223504989" class="price">185</span>&nbsp;<span class="price">grn</span></bdi>                                                    <!--price_subtotal_update_2223504989-->
									</td>
								</tr>

								<tr>
									<td class="ty-cart-content__product-elem ty-cart-content__image-block">
										<div class="ty-cart-content__image cm-reload-2223504989" id="product_image_update_2223504989">
											<a href="https://vapejoy.com.ua/ridina-dlya-veypu/frukti/andromeda-granat-s-chernikoy-nabor-60ml-uk.html">

												<img class="ty-pict     cm-image" alt="ANDROMEDA - pomegranate with blueberries 60ml" title="ANDROMEDA - гранат с черникой 60мл" srcset="https://vapejoy.com.ua/images/ab__webp/thumbnails/300/300/detailed/9/andromeda_yzw7-1q_png.webp 2x" id="det_img_2223504989" width="150" height="150" src="https://vapejoy.com.ua/images/ab__webp/thumbnails/150/150/detailed/9/andromeda_yzw7-1q_png.webp">

											</a>
										</div>
									</td>

									<td class="ty-cart-content__product-elem ty-cart-content__description" style="width: 50%;">
										<a href="https://vapejoy.com.ua/ridina-dlya-veypu/frukti/andromeda-granat-s-chernikoy-nabor-60ml-uk.html" class="ty-cart-content__product-title">ANDROMEDA - pomegranate with blueberries 60ml</a><a class=" ty-cart-content__product-delete ty-delete-big" href="https://vapejoy.com.ua/index.php?dispatch=checkout.delete&amp;cart_id=2223504989&amp;redirect_mode=cart" data-ca-target-id="cart_items,checkout_totals,cart_status*,checkout_steps,checkout_cart" title="Видалити">
											&nbsp;<span class="ty-icon ty-icon-cancel-circle ty-delete-big__icon"></span>
										</a>                                                            <div class="ty-cart-content__sku ty-sku cm-hidden-wrapper hidden" id="sku_2223504989">
											КОД: <span class="cm-reload-2223504989" id="product_code_update_2223504989"><!--product_code_update_2223504989--></span>
										</div>
										<div class="cm-reload-2223504989 ty-cart-content__options" id="options_update_2223504989">
											<input type="hidden" name="no_cache" value="no_cache">

											<div id="option_2223504989_AOC">
												<div class="cm-picker-product-options ty-product-options" id="opt_2223504989">


													<div class="ty-control-group ty-product-options__item product-list-field clearfix" id="opt_2223504989_387">
														<label id="option_description_2223504989_387" for="option_2223504989_387" class="ty-control-group__label ty-product-options__item-label cm-required ">
															Ratio PG/VG
															:
														</label>
														<input type="hidden" name="cart_products[2223504989][product_options][387]" value="366" id="option_2223504989_387">
														<ul id="option_2223504989_387_group" class="ty-product-options__elem">
															<li>
																<label id="option_description_2223504989_387_366" class="ty-product-options__box option-items">
																	<input type="radio" class="radio" name="cart_products[2223504989][product_options][387]" value="366" checked="checked" onclick="fn_change_options('2223504989', '2223504989', '387');">
																	30/70 - for Vapes&nbsp;
																</label>
															</li>
															<li>
																<label id="option_description_2223504989_387_367" class="ty-product-options__box option-items">
																	<input type="radio" class="radio" name="cart_products[2223504989][product_options][387]" value="367" onclick="fn_change_options('2223504989', '2223504989', '387');">
																	50/50 - for POD systems and cigarette tanks&nbsp;
																</label>
															</li>
														</ul>



													</div>


													<div class="ty-control-group ty-product-options__item product-list-field clearfix" id="opt_2223504989_376">
														<label id="option_description_2223504989_376" for="option_2223504989_376" class="ty-control-group__label ty-product-options__item-label  ">
															Nicotine
															:
														</label>
														<select name="cart_products[2223504989][product_options][376]" id="option_2223504989_376" onchange="fn_change_options('2223504989', '2223504989', '376');">
														</select>


													</div>


												</div>
											</div>


										</div>

									</td>

									<td class="ty-cart-content__product-elem ty-cart-content__price cm-reload-2223504989" id="price_display_update_2223504989">
										<bdi><span id="sec_product_price_2223504989" class="ty-sub-price">185</span>&nbsp;<span class="ty-sub-price">grn</span></bdi>                        <!--price_display_update_2223504989-->
									</td>

									<td class="ty-cart-content__product-elem ty-cart-content__qty ">

										<div class="quantity cm-reload-2223504989 changer" id="quantity_update_2223504989">
											<div class="ty-center ty-value-changer cm-value-changer">
												<a class="cm-increase ty-value-changer__increase">+</a>
												<input type="text" size="3" id="amount_2223504989" name="cart_products[2223504989][amount]" value="1" class="ty-value-changer__input cm-amount cm-value-decimal" data-ca-min-qty="1">
												<a class="cm-decrease ty-value-changer__decrease">−</a>
											</div>
											<!--quantity_update_2223504989-->
										</div>
									</td>

									<td class="ty-cart-content__product-elem ty-cart-content__price cm-reload-2223504989" id="price_subtotal_update_2223504989">
										<bdi><span id="sec_product_subtotal_2223504989" class="price">185</span>&nbsp;<span class="price">grn</span></bdi>                                                    <!--price_subtotal_update_2223504989-->
									</td>
								</tr>
							</tbody>
						</table>
						<!--cart_items-->
					</div>

				</div>
			</div>
		</div>

		<div class="ty-cart-total">
			<div class="ty-cart-total__wrapper clearfix" id="checkout_totals">
       <div class="clearfix"></div>
				<ul class="ty-cart-statistic__total-list">
					<li class="ty-cart-statistic__item ty-cart-statistic__total">
						<span class="ty-cart-statistic__total-title">The total cost</span>
						<span class="ty-cart-statistic__total-value">
							<bdi><span id="sec_cart_total" class="ty-price">392</span>&nbsp;<span class="ty-price">grn</span></bdi>
						</span>
					</li>
				</ul>
			</div>
		</div>

		<div class="buttons-container  ty-cart-content__bottom-buttons">
			<div class="ty-float-left ty-cart-content__left-buttons">


				<a href="https://vapejoy.com.ua/frukti.html" class="btn_main btn_main_l"><bdi>Continue shopping</bdi></a>

				<a class="ty-btn ty-btn__tertiary btn_main btn_main_d " href="https://vapejoy.com.ua/index.php?dispatch=checkout.clear"><bdi>Clear the cart</bdi></a>


			</div>
			<div class="ty-float-right ty-cart-content__right-buttons">


				<a href="https://vapejoy.com.ua/checkout-checkout.html" class="ty-btn ty-btn__primary btn_main btn_main_l">
					<span class="ty-icon ty-icon-ok"></span>
					<bdi>Make an order</bdi>
				</a>

			</div>
		</div>
	</div>
</div>

<style>
	.ty-mainbox-body {
	}

	.ty-table tbody tr:nth-child(2n) {
		background: #f9f9f9;
	}

	.cart_main {
	}

	.ty-mainbox-title {
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 28px;
		font-weight: bolder;
	}

	.ty-mainbox-cart__body {
	}

	.ty-cart-content {
		margin-top: 30px;
		border: 1px solid #fff;
	}

	.ty-table {
		margin-top: 20px;
		width: 100%;
		margin-top: 30px;
		border: 1px solid #efefef;
		border-width: 1px 0px 1px 1px;
		border-bottom: none;
		border-left: none;
		border-top: none;
		border-collapse: collapse;
		border-spacing: 0;
	}

	.ty-cart-content .ty-cart-content__title {
		border: 0;
	}

	.ty-cart-content__title {
		padding: 12px;
		border: 1px solid #fff;
		border-right: 0 none;
		border-left: 0 none;
		text-align: center;
		white-space: nowrap;
		font-weight: bold;
		background: #edeff1;
	}

		.ty-cart-content__title.ty-left {
			text-align: left;
		}

		.ty-cart-content__title.ty-right {
			text-align: right;
		}

	.ty-table th {
		background: #fff;
		border-bottom-color: #e2e2e2;
	}

		.ty-table th, .ty-table th a {
			color: #404040;
			font-weight: bold;
		}

	.ty-table th {
		padding: 12px;
		text-align: left;
		text-transform: none;
		white-space: nowrap;
		font-weight: bold;
		line-height: normal;
	}

	.ty-cart-content__title {
		padding: 12px;
		border-right: 0 none;
		border-left: 0 none;
		text-align: center;
		white-space: nowrap;
		font-weight: bold;
		background: #edeff1;
	}

	.ty-cart-content__product-elem {
		padding: 17px 10px;
		border: none;
		vertical-align: top;
	}

	.ty-table td, .ty-table .table td {
		padding: 13px;
	}

	.ty-cart-content__image-block {
		padding-top: 7px;
		padding-bottom: 7px;
		padding-left: 20px;
	}

	.ty-cart-content__image {
		float: left;
	}

	.ty-cart-content__description {
		padding-bottom: 10px;
		width: 50%;
	}

	.ty-cart-content__product-title {
		font-size: 115%;
		word-wrap: break-word;
	}

	.ty-cart-content__product-delete {
		margin: 0 0 0 6px;
		vertical-align: middle;
	}

	.ty-delete-big {
		vertical-align: middle;
	}

	.ty-cart-content__options {
		margin-top: 5px;
	}

	.ty-product-options {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.ty-control-group {
		margin: 0 0 12px 0;
		vertical-align: middle;
	}

	.ty-product-options .ty-control-group {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}

	.ty-cart-content .ty-control-group {
		margin-bottom: 5px;
	}

	.ty-product-options__item {
	}

	.ty-control-group__label {
		float: left;
		padding: 6px 0;
		margin-right: 10px;
		width: 110px;
		color: #1d1d1d;
	}

	.ty-product-options__item-label {
		font-weight: bold;
	}

	.ty-product-options .ty-control-group__label {
		width: inherit;
		min-width: inherit;
	}

	.ty-product-options__elem {
		display: inline-block;
	}

	.ty-product-options__box {
		display: inline-block;
		padding: 6px 0;
	}

	.ty-cart-content__price {
		padding-right: 20px;
		text-align: right;
	}

	.ty-sub-price {
		color: #1d1d1d;
	}

	.ty-cart-total {
		background: none;
		border-radius: 0;
		border-radius: 6px;
	}

	.ty-cart-total__wrapper {
		border: 1px solid #e2e2e2;
		padding: 17px 20px;
		border: 1px solid #fff;
		border-top: none;
	}

	.ty-cart-statistic__total-list {
		border-top: 1px solid #e0e0e0;
		margin-top: 15px;
	}

	.ty-cart-statistic__total {
		padding: 9px 0 0 0;
		text-align: right;
		font-weight: bold;
		font-size: 138%;
	}

	.ty-cart-statistic__item {
		clear: both;
		overflow: hidden;
		padding: 0 0 15px 0;
		color: #a3a3a3;
	}

	.ty-cart-statistic__total-title {
		margin-right: 10px;
	}

	.ty-cart-statistic__total-value {
		display: inline-block;
		width: 140px;
	}

	.ty-mainbox-body .buttons-container {
		margin-bottom: 20px;
	}

	.buttons-container {
		background: #f7f7f7;
		padding: 15px;
		border-radius: 0;
	}

	.ty-cart-content__bottom-buttons {
		position: sticky;
		bottom: 0;
	}

	.ty-cart-content__bottom-buttons {
		border-top: 2px solid #fff;
	}

	.ty-cart-content__left-buttons {
		float: left;
		display: inherit;
	}

	.ty-cart-content__right-buttons {
		float: right;
	}
</style>