

<div class="container">
	<div class="row"></div>
	<div class="row mt-4">
		<h3 class="fw-bold">ANDROMEDA - жидкость для вейпа со вкусом граната и черники 60мл</h3>
	</div>

	<div class="row mt-4" style="padding: 25px; margin: 0 10px 0 0;">
		<div class="col-6">
			<img height="450" src="https://vapejoy.com.ua/images/ab__webp/thumbnails/550/450/detailed/9/andromeda_yzw7-1q_png.webp" />
		</div>

		<div class="col-6" style="box-shadow: 0 0.1rem 2rem rgba(54,54,54,0.1); border-radius: 8px; ">

			<div class="row text-end">
				<p style="font-size: 10px">КОД: </p>
			</div>

			<div class="row">
				<div class="col-6 ms-4">

					<form asp-action="AddToCart">

						<div class="col"><h3 class="fw-bold">165 grn</h3></div>
						<div class="col">
							<p style="color: #08a6a8">
								<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
									<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
									<path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
								</svg>  в наличии
							</p>
						</div>
						<br />

						<div class="col fw-bold">Соотношение PG/VG</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
							<label class="form-check-label" for="flexRadioDefault1">
								30/70 - для вейпов
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
							<label class="form-check-label" for="flexRadioDefault2">
								50/50 - для POD-систем
							</label>
						</div>
						<br />

						<div class="col fw-bold">Никотин</div>
						<div class="col">
							<select class="form-select">
								<option selected>Open this select menu</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</div>
						<br />

						<div class="col-5"></div>
						<div class="col-7">
							<button class="btn_l" type="submit">
								<span class="icon">
									<svg width="25" height="25" xmlns="http://www.w3.org/2000/svg" fill="white" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
										<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />

									</svg>
								</span>
								<span class="text">To cart</span>
							</button>
						</div>
						<div class="col mt-2 text-center">
							<a class="link_hover" asp-action="" asp-controller="" style="color: #08a6a8">
								<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
									<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
								</svg>
								Отложить
							</a>

							<a class="link_hover" asp-action="" asp-controller="" style="color: #08a6a8">
								<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-bar-chart" viewBox="0 0 16 16">
									<path d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z" />
								</svg>
								Сравнить
							</a>

						</div>
					</form>

				</div>

				<div class="col-5 text-center">
					<div class="col" style="border-bottom: 1px solid gray; line-height: 50px">
						<a class="link_hover fw-bold" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
							<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="gray" class="bi bi-bar-chart" viewBox="0 0 16 16">
								<path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
							</svg>
							Доставка
						</a>
						<p style="line-height: 1.5em; font-family: Arial" class="collapse mt-2" id="collapseWidthExample">
							- Новая Почта
							<br />
							- Bolt  доставка (Заророжье)
						</p>
					</div>
					<div class="col" style="border-bottom: 1px solid gray; line-height: 50px">
						<a class="link_hover fw-bold" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample">
							<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="gray" class="bi bi-bar-chart" viewBox="0 0 16 16">
								<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z" />
								<path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z" />
							</svg>
							Варианты оплаты
						</a>
						<p style="line-height: 1.5em; font-family: Arial" class="collapse mt-2" id="collapseWidthExample2">
							— Картами Visa и MasterCard	<br />
							— Оплата на карту	<br />
							— Наличными при получении в Магазине
						</p>
					</div>
					<div class="col" style="border-bottom: 1px solid gray; line-height: 50px">
						<a class="link_hover fw-bold" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample3" aria-expanded="false" aria-controls="collapseWidthExample">
							<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="gray" class="bi bi-bar-chart" viewBox="0 0 16 16">
								<path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
							</svg>
							Наши преимущества
						</a>
						<p style="line-height: 1.5em; font-family: Arial" class="collapse mt-2" id="collapseWidthExample3">
							— Собственное производство	<br />
							— Широкий ассортимент<br />
							— Быстрая отправка<br />
							— Доступные цены<br />
							— Гарантии соблюдения всех  производственых норм и условий правил хранения
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<nav>
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Description</button>
				<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Characteristics</button>
				<button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Storehouse</button>
			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
				<textarea rows="30" class="w-100">
					ANDROMEDA - вейп набор со вкусом граната и черники
Andromeda - кисло-сладкий микс из ягод свежей черники и спелого граната. Отличается ровным и в то же время богатым вкусом, поэтому отлично подходит для парения на каждый день. Выпускается без изменений с 2015 года, так как пришелся по вкусу огромному количеству наших клиентов. 

Andromeda - это фруктовая жидкость на органическом никотине от известного производителя VapeJOY. Производится Вейп комплект из ингредиентов высочайшего качества объемом в 60 мл., специально разработанный для парения на крупных устройствах и MTL без никотина либо с возможностью добавления органического никотина. Имеет множество вариаций по крепости (1 мг, 1.5 мг, 2 мг, 3 мг, 4 мг, 5 мг, 6 мг, 7 мг, 8 мг, 9 мг, 10 мг, 11 мг, 12 мг, 13 мг, 18 мг и 24 мг).

Набор имеет два вида соотношения пропиленгликоля к растительному глицерину (30/70 и 50/50):
Andromeda 50/50 - жидкость разработана для MTL (устройств с тугой затяжкой), преимущество жидкости 50/50 заключается в том, что она предлагает золотую середину для удара по горлу, вкуса, а также имеет низкую вязкость, что обеспечивает лучшую пропитку ваты для MTL. Чаще используется с более высоким количеством никотина (от 6ти и выше) 

Andromeda 30/70 - жидкость для крупных Вейпов (мощные устройства со свободной затяжкой). Такая основа жидкости за счет повышенного содержания растительного глицерина и высокой вязкости, сможет предоставить хороший баланс пара и вкуса для устройств со свободной затяжкой, а также сделает пар более сочным и густым. 

В комплекте ANDROMEDA вы увидите: 
Ароматизатор Andromeda 10 мл.
Флакон с Базовой основой 60 мл.
Никотиновый бустер *


VAPEJOY
- MORE THAN JUST TASTE -
				</textarea>
			</div>
			<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
				<div class="container">
					<div class="row">
						<div class="col-6">
							<table class="w-100">
								<tr>
									<td>Вид вкуса</td>
									<td>Фруктовые</td>
								</tr>
								<tr>
									<td>Вид вкуса</td>
									<td>Фруктовые</td>
								</tr>
								<tr>
									<td>Вид вкуса</td>
									<td>Фруктовые</td>
								</tr>
								<tr>
									<td>Вид вкуса</td>
									<td>Фруктовые</td>
								</tr>
							</table>
						</div>
						<div class="col-6">
							<table class="w-100">
								<tr>
									<td>Вид вкуса</td>
									<td>Фруктовые</td>
								</tr>
								<tr>
									<td>Вид вкуса</td>
									<td>Фруктовые</td>
								</tr>
								<tr>
									<td>Вид вкуса</td>
									<td>Фруктовые</td>
								</tr>
								<tr>
									<td>Вид вкуса</td>
									<td>Фруктовые</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
			</div>
		</div>
	</div>

</div>

<style>

	.nav-tabs .nav-link.active {
		border-color: #fff #fff #08a6a8 #fff;
		border-width: 0 0 4px 0;
		color: black;
	}

	.nav-tabs .nav-link:hover {
		color: #08a6a8;
	}

	.nav-tabs .nav-link {
		border-color: #fff #fff lightgray #fff;
		border-width: 0 0 4px 0;
		color: #8f8f8f;
	}

	.nav-tabs {
		border: none;
	}

	.tab-content {
		border: 1px lightgray solid;
		margin: 5px;
	}
</style>

